.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header h1 {
  color: green;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-header a {
  margin: 5px;
  color: white;
  display: inline-block;
}

.App-header a:active {
  color: #bbb;
} 

.App .main {
  display: inline-block;
  margin: 0 auto;
}

.App .pullLeft {
  text-align: left; 
}

.App form p input {
  display: block;
}

.App form p label {
  display: block;  
  text-align: left
}

.App form p input {
  font-size: 1.1em
}

.aboutPage ul {
  list-style: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
