html, body {
  height: 100%;
}

body {
  background: #3A4DF9;
  color: white;
  position: relative;
  margin: 0 auto;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #0f0370;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.logo h1 {
  text-shadow: 0 0 60px limegreen;
}

.App-header a {
  margin: 5px;
  color: white;
  display: inline-block;
}

.App-header a:active {
  color: #bbb;
} 

.App .main {
  display: inline-block;
  margin: 0 auto;
}

.App .pullLeft {
  text-align: left; 
}

.App form p input {
  display: block;
}

.App form p label {
  display: block;  
  text-align: left
}

.App form p input {
  font-size: 1.1em
}

.aboutPage ul {
  list-style: none;
}

.red {
  color: red;
}

.menus .red {
  text-shadow: 0 0 60px tomato;
}

.green {
  color: #23a616;
}

.black {
  color: black;
}

form {
  margin: 0 auto;
  max-width: 470px;
}

form input[type=text] {
  display: block;
  width: 100%;
  line-height: 1.5em;
  font-size: 1em;
  border-radius: 5px;
  max-width: 470px;
}

form input[type=submit] {
  margin: 0.25em;
  display: inline-block;
  font-size: 3em;
  height: 2em;
  width: 60%;
  max-width: 280px;
}

.search form input[type=submit] {
  max-width: 100px;
}

.restaurants {
  display: block;
  padding: 1em 5em;
}

.restaurant {
  margin-bottom: 1em
}

.restaurant a {
  color: white;
  font-size: 1.25em;
}

.restaurantBasicDetails a {
  color: #b4ff00
}

.toolbar a {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 5px;
  background-color: lightgrey;
  border-radius: 10px;
  border: 2px solid #9e9e9e;
}

